.container{
    margin: 1px 1%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 40px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 100;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* .flipping{
    width: 100%;
    height: 100%;
}
.card{
    height: 100%;
    width: 100%;
}
.front,
.back{
    height: 100%;
    width: 100%;
}
.front{
    background-image: url(art1.jpg) 350x500;
} */